html,body,p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


body {
  height: 100vh;
  width: 100vw;
  display: flex;
}

@font-face {
    font-family: 'Norse Bold';
    src: url('../fonts/Norse-Bold.otf');
}


.background {
  width: 100%;
}

.left-section {
  position: relative;
  flex: 3;
}

.odin-label-background {
  position: absolute;
  top: 150px;
  height: 100px;

  width: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;

}

.odin-logo {
  
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 0px;
  width: 70px;
  height: 100%;
}

.odin-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.odin-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.odin-name {
  font-family: 'Norse Bold';
  flex:1;
  color:white;
  font-size: 60px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top:10px;
  padding-left: 0px;
}

.credit {
  bottom: 0;
  position:absolute;
  color: rgba(255,255,255,0.6);
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.credit-name {
  font-size:10px;
}

a {
  color: rgba(255,255,255,0.6);
}

.right-section {
  flex: 4;
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.top-section {
  display: flex;
  flex-direction: column;
  align-items:start;
  padding: 80px;
  font-weight: bold;
  background-color: rgb(242, 242, 242);
  font-size: 14px;
}

.hook-italicize, .getter-italicize {
  font-style: italic;
}

.getter {
  margin-top: 10px;
}

.middle-section {
  display: flex;
  
  flex-direction: column;
  padding-left: 80px;
  padding-top: 10px;
  padding-right: 80px;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
  padding-bottom: 20px;
}

.middle-section-title {
  font-size: 14px;
  font-weight: bold;
  

}

.label-text {
  color:rgb(106, 104, 104);
  font-size: 10px;
}

input {
  border-radius: 2px;
  border-style:solid;
  border-width: 1px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

.form-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.set-form-container {
  display: flex;
}
form {
  margin-right: 20px;
}

input:focus {
  border-color: blue;
}

input:invalid {
  border-color: red;
}